body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


h1, h2, h3, p {
  margin-top: 0;
  color: #2e2f42;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo{
    margin-right: 76px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
  
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}




.contact-info {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* добавлено */
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* добавлено */
}

.nav-link::after {
  content: none;
}


.grow .nav-link {
  color: #404bbf;
}
.grow .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px; 
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}


.first {
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  text-align: center;
  max-width: 1440px; 
  padding:188px 0 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.first-title {
  max-width: 496px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}

.first-btn {
  margin-top: 48px;
  justify-content: center;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  content: "";
  background-color: #4D5AE5;
  transition :background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-btn:hover,
.first-btn:focus {
  background-color: #404bbf;
}

.second {
  padding: 120px 0;
}

.second-title {
  font-weight: 500;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.second-list {
  display: flex;
  gap: 24px;
}

.second-list li {
  flex-basis: calc((100% - 72px) / 4);
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.second-text {
  letter-spacing: 0.02em;
}
.icon-box{
  display:flex;
align-items:center;
justify-content:center;
height:112px;
background:#f4f4fd;
border-radius:4px;
border:1px solid #8e8f99;
margin-bottom:8px;
}

.second-subtext{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--slate);
}
.second-subtitle {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  margin-bottom: 8px;
}

.third {
  background-color: #f4f4fd;
  padding: 120px 0;
}


.third-title {
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.third-list {
  display: flex;
  gap: 24px;
}
.soc{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.third-item {
  box-shadow:1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.soc-icon{
  fill:#f4f4fd;
}
.soc-item{
  width: 40px;
  height: 40px;
}
.soc-link{
  justify-content: center;
  align-items: center;
   display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus{
background-color: #404bbf
}
.third-item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-box{
    padding: 32px 0;
    }
.card-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center; 
}
.third-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom:8px;

}

.third-text {
  letter-spacing: 0.02em;
}

.forth {
  padding: 120px 0;
}
.app-desc{
  position: absolute;
  top: 0; 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.forth-item:hover .app-desc{
    transform: translateY(0%);

}

.forth-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.forth-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  row-gap: 48px;
}
.forth-item:hover{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  
}

.forth-list :first-child{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forth-list li {
  flex-basis: calc((100% - 48px) / 3);
}

.forth-list img {
  display: block;
  width: 100%;
  height: auto;
}
.img-wrap{
  position: relative;
  overflow: hidden;
}


.forth-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.forth-subtitle {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.forth-text {
  letter-spacing: 0.02em;
  margin: 0;
}


.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}
.base{
  margin-right: 120px
}
.social-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}
.footer-soc{
  display: flex;
  gap: 16px; 
}
.footer-soc-item{
  width:40px;
  height: 40px;
}
.footer-soc-link{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius:50%;
  background-color:#4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-soc-link:hover,
.footer-soc-link:focus{
  background-color: #31d0aa; 
}
.footer-icon{
  fill:#f4f4fd;

}

.foot-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.foot-span {
  color: #f4f4fd;
}
.footer .container{
  display: flex;
  align-items: baseline;
}
.footer-left{
  margin-right: 120px;
}
.foot-span {
  font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.foot-par {
  letter-spacing: 0.02em;
  font-size: 16px;
  max-width: 264px;
  margin: 0;
  color:var(--cloud);
}

.footer-input{
  flex-direction: column;
  margin-left: auto;
}
.footer-input-par {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;

}
.foot-form {
  display: flex;
  gap :24px;
 flex-direction: row;
}
.foot-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: #2e2f42;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF; 
    padding-left: 16px; 
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.foot-input::placeholder {
  color: #ffffff;
}




.foot-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 165px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.foot-btn:hover,
.foot-btn:focus {
  background-color: #404bbf;
}

.footer-svg-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:target {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
color:#2E2F42;
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;

}
.modal-label{
  display: flex;
  flex-direction: column;
}
.form-1{
  margin-bottom: 8px;
}
.modal-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-name{
  position: relative; 
}
.form-group{
  margin-bottom: 8px;

}
.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
  border-color: #4D5AE5;
}
.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42; 
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: #4D5AE5;
}
.form-comment{
  margin-bottom: 16px;
}
.modal-text{
  width: 100%;    
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus{
  border-color: #4D5AE5;
}
.checkbox-container{
  margin-bottom: 24px; 
}
.checkbox{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;

}
.modal-span{
  margin:6px;
 width: 16px;
 height: 16px;
 border: 1px solid rgba(46, 47, 66, 0.4);
 border-radius: 2px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}
input:checked + .checkbox .modal-span {
  background-color: #404bbf; 
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-svg,
.modal-btn:focus .modal-svg {
    fill: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.link-label{
  color:#4d5ae5;
  text-decoration: underline;
}
.modal-submit-btn{
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; ;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

